.btn {
    display: flex;
    align-items: center;
    width: 155px;
    height: 50px;
    color: white;
    background-color: #081158;
    padding-left: 20px;
    margin-top: 18px;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
}

.btn img {
    padding-right: 8px;
    width: auto;
    height: auto;
}

button:active {
    background: #a8cee2;
}

.nav-btn {
    display: flex;
    align-items: center;
    width: 170px;
    height: 50px;
    color: #fff;
    background-color: #081158;
    margin-top: 18px;
    border-radius: 5px;
    padding-right: 10px;
}

.nav-btn img {
    padding-right: 8px;
    width: auto;
    height: auto;
}


/* Make the image responsive */


/* Style the button and place it in the middle of the container/image */


/* 
.jimg .btn-r {
    position: absolute;
    top: 80%;
    left: 80%;
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
}

.jimg .btn-l {
    position: absolute;
    top: 80%;
    right: 80%;
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
}

.jimg .btn:hover {
    background-color: black;
} */